renthub/n8n_workflow_example.json
{
  "name": "Property Auto Moderation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "property-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "property-review"
    },
    {
      "parameters": {
        "jsCode": "// Parse dữ liệu từ Laravel\nconst body = $input.item.json.body || $input.item.json;\nconst property = body.property;\nconst event = body.event;\nconst webhookSecret = body.webhook_secret;\n\n// Validate webhook secret\nconst expectedSecret = 'your-secret-key-change-this'; // Thay bằng secret thực tế\nif (webhookSecret !== expectedSecret) {\n  throw new Error('Invalid webhook secret');\n}\n\n// Trả về dữ liệu để xử lý\nreturn {\n  property_id: property.id,\n  title: property.title,\n  description: property.description || '',\n  price: property.price,\n  area: property.area,\n  type: property.type,\n  address: property.address || '',\n  user_id: property.user_id,\n  created_at: property.created_at\n};"
      },
      "id": "parse-data",
      "name": "Parse Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.price }}",
              "operation": "largerEqual",
              "value2": 1000000
            }
          ]
        }
      },
      "id": "check-price",
      "name": "Check Price",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title.length }}",
              "operation": "largerEqual",
              "value2": 10
            }
          ]
        }
      },
      "id": "check-title",
      "name": "Check Title Length",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ ($json.description || '').length }}",
              "operation": "largerEqual",
              "value2": 20
            }
          ]
        }
      },
      "id": "check-description",
      "name": "Check Description",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "spam-check",
                    "leftValue": "={{ ($json.title + ' ' + ($json.description || '')).toLowerCase() }}",
                    "rightValue": "spam,lừa đảo,fake,scam",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "no-spam"
            }
          ]
        },
        "options": {}
      },
      "id": "check-spam",
      "name": "Check Spam Keywords",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-checks",
      "name": "Merge All Checks",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "all-passed",
              "leftValue": "={{ $json.length }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "final-decision",
      "name": "All Rules Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/webhook/n8n",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "property_id",
              "value": "={{ $('Parse Data').item.json.property_id }}"
            },
            {
              "name": "status",
              "value": "approved"
            },
            {
              "name": "reason",
              "value": "Tự động duyệt - Tin đăng đáp ứng tất cả điều kiện"
            },
            {
              "name": "webhook_secret",
              "value": "your-secret-key-change-this"
            }
          ]
        },
        "options": {}
      },
      "id": "approve-request",
      "name": "Approve Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/webhook/n8n",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "property_id",
              "value": "={{ $('Parse Data').item.json.property_id }}"
            },
            {
              "name": "status",
              "value": "rejected"
            },
            {
              "name": "reason",
              "value": "Tự động từ chối - Tin đăng vi phạm một hoặc nhiều điều kiện"
            },
            {
              "name": "webhook_secret",
              "value": "your-secret-key-change-this"
            }
          ]
        },
        "options": {}
      },
      "id": "reject-request",
      "name": "Reject Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Webhook processed', property_id: $('Parse Data').item.json.property_id } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Parse Data", "type": "main", "index": 0}]]
    },
    "Parse Data": {
      "main": [[{"node": "Check Price", "type": "main", "index": 0}]]
    },
    "Check Price": {
      "main": [
        [{"node": "Check Title Length", "type": "main", "index": 0}],
        [{"node": "Check Description", "type": "main", "index": 0}]
      ]
    },
    "Check Title Length": {
      "main": [[{"node": "Check Spam Keywords", "type": "main", "index": 0}]]
    },
    "Check Description": {
      "main": [[{"node": "Check Spam Keywords", "type": "main", "index": 0}]]
    },
    "Check Spam Keywords": {
      "main": [[{"node": "Merge All Checks", "type": "main", "index": 0}]]
    },
    "Merge All Checks": {
      "main": [[{"node": "All Rules Passed?", "type": "main", "index": 0}]]
    },
    "All Rules Passed?": {
      "main": [
        [{"node": "Approve Request", "type": "main", "index": 0}],
        [{"node": "Reject Request", "type": "main", "index": 0}]
      ]
    },
    "Approve Request": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "Reject Request": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-16T00:00:00.000Z",
  "versionId": "1"
}
